@model IEnumerable<Estates2.ViewModels.MeetingVM>

@{
    ViewBag.Title = "List of meetings";
}

<h2>List of meetings</h2>

<p>
    <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("Create", "Meeting")'">Add new</button>
</p>
<table class="table table-striped">
    <thead thead-dark>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstateVM.Adress)
            </th>
            <th>
                Client
            </th>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstateVM.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientVM.Name)
                    @Html.DisplayFor(modelItem => item.ClientVM.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeVM.Name)
                    @Html.DisplayFor(modelItem => item.EmployeeVM.Surname)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "View", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteButton" })
                </td>
            </tr>
        }
    </tbody>
</table>
